.car {
  position: relative;
  height: 75px;
  border-bottom: 2px dashed $text;

  &__name {
    vertical-align: bottom;
    margin-left: 10px;
  }

  &__message {
    color: $error;
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 10px;
  }

  &__svg {
    position: absolute;
    bottom: -3px;
    svg {
      width: 75px;
    }
  }

  &__finish {
    position: absolute;
    bottom: -3px;
    right: 75px;
    svg {
      height: 35px;
    }
  }
}
