
$main: #020b24;
$main-light: #0d1f50;
$text: #ffffff;
$error: #ff5024;

$button: linear-gradient(180deg,  #eca219 0%, #ffd900 100%);
$button-hover: linear-gradient(180deg, #ffd900 0%, #eca219 100%);
$button-border: #eca219;
$button-border-hover: #ffd900;

$button2: linear-gradient(180deg,  #00684e 0%, #009b74 100%);
$button-hover2: linear-gradient(180deg, #009b74 0%, #00684e 100%);
$button-border2: #00684e;
$button-border-hover2: #009b74;

