.garage {
  flex-grow: 2;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 15px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: 10px;

    .pagination__page {
      text-align: center;
    }
  }
}
