.garage {
  flex-grow: 2;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 15px;
    margin-bottom: 10px;
    overflow: hidden;
  }
}

.pagination {
  margin: 10px 0;
  .container {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__page {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    min-width: 30px;
  }
}
